* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: rgba(84, 89, 94, 1);
  background-color: #d4d3d8;
  font-weight: 400;
}

section {
  padding: 80px 0 80px;
}

h1 {
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  color: black;
  cursor: pointer;
}

button {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  border: none;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  max-width: 594px;
  margin: 0 auto;
}

.roof {
  /* border-bottom: 1 px solid rgb(157, 159, 161); */
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 24px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

.roof__input {
  width: 356px;
  height: 38px;
  border: 1px solid rgba(206, 212, 218, 1);
  border-radius: 4px;
  padding: 9px 0 9px 13px;
}

.roof__btn {
  width: 166px;
  height: 39px;
  background-color: black;
}

.lists {
  background-color: rgba(255, 255, 255, 1);
  /* padding: 32px 24px 32px 24px; */
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(222, 226, 230, 1);
}

.list {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.checkbox {
  height: 16px;
  width: 16px;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.text {
  width: 445px;
  margin: 0 43px 0 16px;
  word-wrap: break-word;
}

.done {
  text-decoration: line-through;
  opacity: 50%;
}

.cross {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cross__symbol {
  width: 16px;
  height: 16px;
  font-size: 14px;
}

.base {
  background-color: rgba(245, 245, 245, 1);
  padding: 24px 24px 24px 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 16px 16px;
  opacity: 0;
}

.base__del {
  background-color: rgba(108, 117, 125, 1);
  width: 214px;
  height: 39px;
}

.base__delall {
  background-color: rgba(220, 53, 69, 1);
  width: 131px;
  height: 39px;
}
